.left-nav {
  position: fixed;
  height: 100vh;
  width: 6%;
  padding-top: 3%;
  padding-bottom: 30px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  .left-nav-item {
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 20px;
    flex: 0 auto;
    transform: rotate(-90deg);
    .left-nav-link {
      font-size: 12px;
      display: block;
      //   font-family: sans-serif;
      font-family: "Montserrat", sans-serif;
      color: #1a1818;
      border: 0px solid #000;
      font-weight: 500;
      text-align: center;
      letter-spacing: 5px;
      text-decoration: none;
      text-transform: uppercase;
      transition: border-color 250ms ease;
      &::after {
        content: "";
        width: 1px;
        // height: 1rem;
        background-color: #000;
        position: absolute;
        transform: rotate(-90deg);
        margin-top: -5px;
        margin-left: -1rem;
        transition: 0.3s;
      }
      &:hover:after {
        // width: 100%;
        height: 1.5rem;
      }
    }

    .copyright {
      font-size: 10px;
      letter-spacing: 4px;
      text-align: center;
      font-weight: 500;
      color: #1a1818;
    }
  }
  .nav-copyright {
    position: absolute;
    bottom: 0%;
    // left: 0%;
    // top: auto;
    // right: 0%;
    // bottom: 3vh;
    // width: 110px;
  }
  .left-nav-line {
    width: 1px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #1a1818;
  }
}

@media all and (max-width: 760px) {
  .left-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    .left-nav-item {
      transform: rotate(0deg);
      .left-nav-link {
        &::after {
          content: "";
          width: 0.5px;
          background-color: #000;
          position: absolute;
          transform: rotate(-90deg);
          margin-top: -5px;
          margin-left: -1rem;
          transition: 0.3s;
        }
        &:hover:after {
          // width: 100%;
          height: 1.5rem;
        }
      }
      .copyright {
      }
    }
    .nav-copyright {
      position: absolute;
      right: 0;
      top: 25%;
    }
    .left-nav-line {
      height: 1px;
      width: 10vw;
      margin-top: 3.3rem;
    }
  }
}

@media all and (max-width: 470px) {
  .left-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    .left-nav-item {
      padding-left: 8px;
      padding-right: 5px;
      transform: rotate(0deg);
      .left-nav-link {
        &::after {
          content: "";
          width: 0.5px;
          // height: 1rem;
          background-color: #000;
          position: absolute;
          transform: rotate(-90deg);
          margin-top: -5px;
          margin-left: -1rem;
          transition: 0.3s;
        }
        &:hover:after {
          // width: 100%;
          height: 1.5rem;
        }
      }
      .copyright {
      }
    }
    .nav-copyright {
      position: absolute;
      right: 0;
      top: 20%;
    }
    .left-nav-line {
      height: 1px;
      width: 10vw;
      margin-top: 3.3rem;
    }
  }
}